# Bundler files
.bundle/
vendor/
Gemfile.lock

# Jekyll build files
_site/
.jekyll-cache/
.jekyll-metadata

# RubyGems
*.gem

# Node.js files
node_modules/
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

# Ignore compiled CSS and JS files
assets/css/*.css
assets/js/dist/*.js
