body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  display: flex;
  background-color: #2e7d32;
  color: white;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
}

header h1 {
  margin-left: 10px;
  text-align: left;
  flex-grow: 1;
}

header p {
  margin: 5px 0;
}

main {
  padding: 20px;
}

h2 {
  color: #2e4420;
  border-bottom: 2px solid #2e7d32;
  padding-bottom: 5px;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  color: #388e3c;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Links */
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}